header
  .container.header-container
    .header__logo LoremI 
    .header__menu.header-menu
      nav.header-menu__nav
        ul 
          li
            a(href="#") Главная
          li
            a(href="#") О нас
          li
            a(href="#") Контакты
          li
            a(href="#") Ассортимент
          li
            a(href="#")  Часто задаваемые вопросы
      .header-menu__user
        include user-menu.pug
    include hamburger.pug  