section.assortment 
  .container 
    h2 Ассортимент
    .assortment__tabs.tabs 
      .tabs__headings.t-headings 
        a.t-headings__item(href="#tabsContent1").selected  Group 1
        a.t-headings__item(href="#tabsContent2")  Group 2
        a.t-headings__item(href="#tabsContent3")  Group 3
        a.t-headings__item(href="#tabsContent4")  Group 4 
      .tabs__content.t-content 
        .t-content__item#tabsContent1.selected
          span Content 1
        .t-content__item#tabsContent2
          span Content 2
        .t-content__item#tabsContent3 
          span Content 3
        .t-content__item#tabsContent4 
          span Content 4
    .assortment__scroll.a-scroll
        .a-scroll__wrapper
          .a-scroll__inner
            .a-scroll__item
              span Text1
            .a-scroll__item
              span Text2
            .a-scroll__item
              span Text3
            .a-scroll__item
              span Text4
            .a-scroll__item
              span Text5
            .a-scroll__item
              span Text6
            .a-scroll__item
              span Text7
            .a-scroll__item
              span Text8
            .a-scroll__item
              span Text9
            .a-scroll__item
              span Text10