section.shop 
  .container
    h3.shop__title Do some shoping,please...
    .shop__stock.stock 
      .stock__filters.filters 
        .filters__category.fcategory Categories
          .fcategory__item.fc-item 
            label
              input(type="checkbox")
              span Dildos 
          .fcategory__item.fc-item 
            label
              input(type="checkbox")
              span Yaytsas 
          .fcategory__item.fc-item 
            label
              input(type="checkbox")
              span Asses 
        .filters__range
          .range
            input(type="range" min="1" max="100" value="10" data-price='low')
            input(type="range" min="1" max="100" value="50" data-price='high')
            input(type="text" data-out='low')
            input(type="text" data-out='high') 
      .stock__products.products 
        .products__card.card 
          .card__title Yaytso 
          .card__image
          .card__category Dildos
          .card__description Lorem ipsum dolor sit amet consectetur adipisicing.
          .card__price 1235
          button.card__like
            <svg><use xlink:href='./../../images/heart.svg#heart'></use></svg>
          button.card__buy
            <svg><use xlink:href='./../../images/plus.svg#plus'></use></svg>
        .products__card.card 
          .card__title Yaytso 
          .card__image
          .card__category Dildos
          .card__description Lorem ipsum dolor sit amet consectetur adipisicing.
          .card__price 1235
          button.card__like
            <svg><use xlink:href='./../../images/heart.svg#heart'></use></svg>
          button.card__buy
            <svg><use xlink:href='./../../images/plus.svg#plus'></use></svg>
        .products__card.card 
          .card__title Yaytso 
          .card__image
          .card__category Dildos
          .card__description Lorem ipsum dolor sit amet consectetur adipisicing.
          .card__price 1235
          button.card__like
            <svg><use xlink:href='./../../images/heart.svg#heart'></use></svg>
          button.card__buy
            <svg><use xlink:href='./../../images/plus.svg#plus'></use></svg>
        .products__card.card 
          .card__title Yaytso 
          .card__image
          .card__category Dildos
          .card__description Lorem ipsum dolor sit amet consectetur adipisicing.
          .card__price 1235
          button.card__like
            <svg><use xlink:href='./../../images/heart.svg#heart'></use></svg>
          button.card__buy
            <svg><use xlink:href='./../../images/plus.svg#plus'></use></svg>
        .products__card.card 
          .card__title Yaytso 
          .card__image
          .card__category Dildos
          .card__description Lorem ipsum dolor sit amet consectetur adipisicing.
          .card__price 1235
          button.card__like
            <svg><use xlink:href='./../../images/heart.svg#heart'></use></svg>
          button.card__buy
            <svg><use xlink:href='./../../images/plus.svg#plus'></use></svg>
        .products__card.card 
          .card__title Yaytso 
          .card__image
          .card__category Dildos
          .card__description Lorem ipsum dolor sit amet consectetur adipisicing.
          .card__price 1235
          button.card__like
            <svg><use xlink:href='./../../images/heart.svg#heart'></use></svg>
          button.card__buy
            <svg><use xlink:href='./../../images/plus.svg#plus'></use></svg>
        .products__card.card 
          .card__title Yaytso 
          .card__image
          .card__category Dildos
          .card__description Lorem ipsum dolor sit amet consectetur adipisicing.
          .card__price 1235
          button.card__like
            <svg><use xlink:href='./../../images/heart.svg#heart'></use></svg>
          button.card__buy
            <svg><use xlink:href='./../../images/plus.svg#plus'></use></svg>