section.faq 
  .container
    h3 Часто задаваемые вопросы
    ul.accordion
      li.accordion__item.ac-item 
        button.ac-item__title Question 1
        .ac-item__content 
          div Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quam numquam consequatur aliquam repellat quae.
      li.accordion__item.ac-item 
        button.ac-item__title Question 2
        .ac-item__content 
          div Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quam numquam consequatur aliquam repellat quae.
      li.accordion__item.ac-item 
        button.ac-item__title Question 3
        .ac-item__content 
          div Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quam numquam consequatur aliquam repellat quae.
      li.accordion__item.ac-item 
        button.ac-item__title Question 4
        .ac-item__content 
          div Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quam numquam consequatur aliquam repellat quae.
      li.accordion__item.ac-item 
        button.ac-item__title Question 5
        .ac-item__content 
          div Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, quam numquam consequatur aliquam repellat quae.
