section.contacts 
  .container
    h3 Наши контакты
    .contacts__inner
      .map-container#map
      .contacts__list 
        ul 
          li Адрес: улица Первая д 123
          li 
            a(href="tel:1234567812") Телефон: 1234567812
          li Время работы: Понедельник 12-18, вторник 6-9, среда 14-23 и так далее