#menu.user-menu 
  .user-menu__img 
    <svg><use xlink:href='./../../images/profile.svg#profile'></use></svg>
  .user-menu__name Vasya 
  .user-menu__toggle 
    <svg><use xlink:href='./../../images/arrow-up.svg#arrow'></use></svg>
  .user-menu__list 
    ul 
      li 
        a(href="#") Profile 
      li 
        a(href="#") Settings 
      li
        a(href="#") LogOut 