doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet")
  title Document
  body
    .wrapper
      include includes/header.pug
      include includes/section-info.pug
      include includes/section-shop.pug
      include includes/section-assortment.pug
      include includes/section-contacts.pug
      include includes/section-faq.pug
    script(type="module" src="/src/main.ts")