:root {
  --container-width: 1840px;
  --container-padding: 20px;
  --mainText: black;
  --secondaryText: teal;
  --yeshoText: #fd2eb4;
  --bg-color-main: aqua;
  --bg-color-secondary: rgb(255 138 250);
  --color-accent: rgb(136 139 182);
  --transition-time: 0.5s;
  --cute-font: "Pacifico", cursive;
  --gap: 20px;
}
